.custom_btn {
  background-color: #fff !important;
  font-size: 25px !important;
  font-weight: 500 !important;
  border: 0 !important;
  border-radius: 50px !important;
  padding: 2px 16px !important;
  line-height: 35px !important;
  min-width: 100px !important;
  outline: none !important;
}

.custom_btn .btn_icon_container {
  color: #fff !important;
  background: var(--main-color) !important;
  border-radius: 50px !important;
  height: 33px !important;
  width: 30px !important;
  line-height: 29px !important;
  display: flex !important;
  text-align: center !important;
  align-items: center !important;
  justify-content: center !important;
}
.custom_btn .btn_icon_container > .MuiSvgIcon-root {
  font-size: 16px !important;
}
.custom_btn .btn_text {
  font-size: 20px !important;
  text-transform: none !important;
  text-align: center;
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  color: var(--main-color);
  font-weight: 570;
}
.header-item a {
  text-decoration: none;
  color: #fff;
}
