.slider-cont {
  height: 70vh;
}
.carousel-item {
}

.carousel-item .d-block {
  height: 70vh !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.carousel-indicators {
  display: none !important;
}
.c-caption {
  margin-bottom: 20px !important;
}
.c-caption a {
  text-decoration: none;
}
.c-head {
  color: var(--main-color);
  padding: 12px;
  font-weight: 600 !important;
  text-shadow: 2px 2px #fff;
}
.c-text {
  padding-bottom: 20px;
}
